body{
    background-color: hsl(225, 100%, 94%);;
    font-family: "Red Hat Display", sans-serif;
    padding: 20;
    margin: 60;
    background-image: url(./images/pattern-background-desktop.svg);
    background-size: contain;
    background-repeat: no-repeat;

}
.container{
    background-color: white;
    text-align: center;
    margin: auto;
    margin-top: 180px;
    margin-bottom: 20px;
    border: 1px black solid;
    border-radius: 10px;
    border-style: none;
    box-shadow: 0px 11px 0px 0px lightgrey;
    height: 560px;
    width: 340px;
    top:82px;
    left: 345px;
}
/*.hero_img{
    padding-left: 45px;
    border-radius: 24px;
}*/

.center-text {
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    margin: 35px 0 18px 0;
    top: 255px;
}

.hero {
     height: 155px;
     width: 100%;
     border-top-right-radius: 10px;
     border-top-left-radius: 10px;
}
.add_content{
    text-align: center;
}
.add_content h2{
    color: rgb(40, 45, 54);
}
.add_content p{
    color: rgb(111, 129, 167);

}
.price-section {display: flex;
text-align: center;
margin: auto;
margin-bottom: 20px;
width: 80%;
height: 70px;
background-color: hsl(225, 100%, 98%);
justify-content: space-between;
border: 1px solid black;
border-radius: 6px;
border-style: none;
}

.price-1-img {    
    margin-top: 13px;
    margin-bottom: 10px;
    margin-left: 20px;
    width: 42px;
    height: 42px;
}
.price-2 {
    margin-top: 12px;
}
.price-3{
    font-size: 13px;
    font-weight: 700;
    align-self: center;
    margin-right: 11px;
}
.payment{
    background-color: blue;
    color:white;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 300px;
    border-radius: 8px;
    border: none;
    box-shadow: 0px 10px 20px 8px rgb(196, 191, 191);
    font-weight: 800;
}
.order{
    padding-top: 30px;
    padding-bottom: 5px;
    margin-top: 30px;
    border-radius: 8px;
    width: 300px;
    border: none;
    background-color: white;
    color: hsl(230, 3%, 44%);
    font-weight: 900;
}

.price-3 :hover {
    text-decoration: none;
    color: hsl(224, 23%, 55%);
}

.payment:hover{
    background-color: hsl(224, 23%, 55%);
    cursor: pointer;
}

.order:hover{
    font-weight: 900;
    color:black;
    cursor: pointer;
}
.attribution { 
    font-size: 11px; 
    text-align: center; }

.attribution a { 
        color: hsl(228, 45%, 44%); 
    }

    @media (max-width: 375px) {
        body { 
        font-size: 14px;
        background-image: url('images/pattern-background-mobile.svg');
        background-repeat: no-repeat;
        background-color: hsl(225, 100%, 94%);
    }
    .container {
        height: 85vh;
        width: 300px;
    }
    .price-section {
        padding: 15px;
    }
    }
