*{
    font-family: sans-serif;
}

body{
    padding: 0;
    margin: 0 !important;
    background-image: url(./images/pattern-background-desktop.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
}
.container{
    text-align: center;
    margin: 20px 30%;
    border-radius: 20px;
    box-shadow: 0 0 10px 10px lightgrey;
    background-color: hsl(225, 100%, 98%);
}
.hero-image{
    background-image: url('./images/illustration-hero.svg');
    background-repeat: no-repeat;
    background-size:contain;
    height: 40vh;
    border-radius: 20px 20px 0 0;
}
.hero-section{
    padding: 20px 100px;
}
.hero-section-one{
    margin-bottom: 20px;
}
.hero-section-one p{
    font-size: 1.5em;
    color: hsl(224, 23%, 55%);
}

.price-section{
    display: flex;
    justify-content:space-between;
    padding: 5px 20px;
    background-color:rgb(240, 235, 235);
}
.price-section-one{
    display: flex;
    justify-content: space-between;
    
}
.price-section img{
    margin-top: 20px;
    height: 50%;
    padding: 0 5px;
}
.price-section-two p{
    font-size: 1.2em;
}
.price-section-three{
    margin-top: 10px;
    text-decoration: underline;
    font-size: 1.2em;
    color: blue;
}
.price-section-three:hover{
    cursor: pointer;
    text-decoration: none;
    color:rgb(105, 46, 173);
}
.pricing{
    padding-top: 20px;
    color: hsl(224, 23%, 55%);
}

.payment{
    background-color: hsl(245, 75%, 52%);
    padding: 20px 55px;
    font-size: 1.5em;
    border-radius: 10px;
    color: white;
    margin: 30px 0;
    border: none;
}
.payment:hover{
    background-color:rgb(105, 46, 173);
    border: none;
    cursor:pointer;
}

.cancel{
    border: none;
    padding: 20px 20px;
    font-size: 1.5em;
    margin-bottom: 10px;
    margin-bottom: 20px;
    background-color:inherit;
    color: gray;
}
.cancel:hover{
    border: none;
    cursor:pointer;
    color: black;
}


/* THIS IS THE MOBILE SCREEN */
@media (max-width:375px) {

    body{
        padding: 0;
        margin: 0 !important;
        background-image: url(./images/pattern-background-desktop.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-color: hsl(225, 100%, 94%);
    }

.container{
    text-align: center;
    margin: 10px 5%;
    border-radius: 20px;
    box-shadow: 0 0 10px 10px lightgrey;
    background-color: hsl(225, 100%, 98%);
}
.hero-image{
    background-image: url('./images/illustration-hero.svg');
    background-repeat: no-repeat;
    background-size:contain;
    height: 30vh;
    border-radius: 10px 10px 0 0;
}
.hero-section{
    padding: 10px 20px;
}
.hero-section-one{
    margin-bottom: 10px;
}
.hero-section-one p{
    font-size: 1em;
    color: hsl(224, 23%, 55%);
}

.price-section{
    display: flex;
    justify-content:space-between;
    padding: 5px 10px;
    background-color:rgb(240, 235, 235);
}
.price-section-one{
    display: flex;
    justify-content: space-between;
    
}
.price-section img{
    margin-top: 20px;
    height: 50%;
    padding: 0 5px;
}
.price-section-two p{
    font-size: 1em;
}
.price-section-three{
    margin-top: 10px;
    text-decoration: underline;
    font-size: 1em;
    color: blue;
}
.price-section-three:hover{
    cursor: pointer;
    text-decoration: none;
    color:rgb(105, 46, 173);
}
.pricing{
    padding-top: 20px;
    color: hsl(224, 23%, 55%);
}

.payment{
    background-color: hsl(245, 75%, 52%);
    padding: 10px 75px;
    font-size: 1em;
    border-radius: 10px;
    color: white;
    margin: 10px 0;
    border: none;
    margin-top: 20px;
}
.payment:hover{
    background-color:rgb(105, 46, 173);
    border: none;
    cursor:pointer;
}

.cancel{
    border: none;
    margin-bottom: 10px;
    background-color:inherit;
    color: gray;
}
.cancel:hover{
    border: none;
    cursor:pointer;
    color: black;
}

}